<div id="navbar" role="navigation">

	<div class="breadcrumbs" role="menubar">
		<!-- DEFINE $MICRODATA = ' itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb"' -->
		<!-- EVENT overall_header_breadcrumbs_before -->
			<!-- IF U_SITE_HOME --><span><a class="crumb" href="{U_SITE_HOME}"{$MICRODATA} data-navbar-reference="home">{L_SITE_HOME}</a></span><!-- ENDIF -->
			<!-- EVENT overall_header_breadcrumb_prepend -->
			<div id="active-home"{$MICRODATA}>
				<a class="crumb" href="{U_INDEX}" accesskey="h" data-navbar-reference="index" itemprop="url">
					<span itemprop="title">{L_INDEX}</span>
				</a>
			</div>
			<!-- BEGIN navlinks -->
				<!-- EVENT overall_header_navlink_prepend -->
				<div{$MICRODATA} itemprop="child">
					<a class="crumb" href="{navlinks.U_VIEW_FORUM}" <!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF --> itemprop="url">
						<span itemprop="title">{navlinks.FORUM_NAME}</span>
					</a>
				</div>
				<!-- EVENT overall_header_navlink_append -->
			<!-- END navlinks -->
			<!-- EVENT overall_header_breadcrumb_append -->
		<!-- EVENT overall_header_breadcrumbs_after -->
	</div>

	<ul class="navitems" role="menubar">
	<!-- IF S_DISPLAY_SEARCH and S_USER_LOGGED_IN -->
		<li id="quick-links" class="small-icon responsive-menu dropdown-container<!-- IF not S_DISPLAY_QUICK_LINKS and not S_DISPLAY_SEARCH --> hidden<!-- ENDIF -->" data-skip-responsive="true">
		<a href="#" class="responsive-menu-link dropdown-trigger">Links&nbsp;<i class="fa fa-caret-down"></i></a>
		<ul class="dropdown hidden" role="menu">
			<!-- EVENT navbar_header_quick_links_before -->
			<!-- IF S_LOAD_UNREADS --> 
				<li><a href="{U_SEARCH_UNREAD}" role="menuitem">{L_SEARCH_UNREAD}</a>
			<!-- ENDIF -->				
				<li><a href="{U_SEARCH_NEW}" role="menuitem">{L_SEARCH_NEW}</a>
			<!-- IF S_REGISTERED_USER -->
				<li><a href="{U_SEARCH_SELF}" role="menuitem">{L_SEARCH_SELF}</a>
				<!--<li><a href="search.php?author_id={CURRENT_USERID}&sr=topics&sf=firstpost" role="menuitem">Your topics</a>-->
			<!-- ENDIF -->

			<li><a href="{U_SEARCH_UNANSWERED}" role="menuitem">{L_SEARCH_UNANSWERED}</a>
			<li><a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">{L_SEARCH_ACTIVE_TOPICS}</a>
			<li class="separator">
			<li><a id="active-faq" href="{U_FAQ}"><i class="fa fa-question"></i>{L_FAQ}</a>
			<!-- IF U_MCP --><li><a href="{U_MCP}" title="{L_MCP}" role="menuitem"><i class="fa fa-gavel"></i>{L_MCP_SHORT}</a></li><!-- ENDIF -->
			<!-- IF U_ACP --><li><a href="{U_ACP}" title="{L_ACP}" role="menuitem"><i class="fa fa-cogs"></i>{L_ACP_SHORT}</a></li><!-- ENDIF -->

		</ul>
		<li><a id="active-search" href="{U_SEARCH}">{L_SEARCH}</a>
	<!-- ENDIF -->
	<!-- IF S_DISPLAY_MEMBERLIST --><li><a id="active-members" href="{U_MEMBERLIST}">{L_MEMBERLIST}</a><!-- ENDIF -->

	<!-- IF S_REGISTERED_USER -->
		<li id="username_logged_in" class="<!-- IF CURRENT_USER_AVATAR --> no-bulletin<!-- ENDIF -->" data-skip-responsive="true">
			<!-- EVENT navbar_header_username_prepend -->
			<div class="header-profile dropdown-container">
				<a id="active-user" href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF -->{CURRENT_USERNAME_SIMPLE}&nbsp;<i class="fa fa-caret-down"></i></a>
					<ul class="dropdown hidden" role="menu">
						<!-- IF U_RESTORE_PERMISSIONS --><li><a href="{U_RESTORE_PERMISSIONS}"><i class="fa fa-undo"></i>{L_RESTORE_PERMISSIONS}</a><!-- ENDIF -->
						<!-- EVENT navbar_header_profile_list_before -->
						<li><a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem"><i class="fa fa-cogs"></i>{L_PROFILE}</a>
						<li><a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem"><i class="fa fa-user"></i>{L_READ_PROFILE}</a></li>
						<!-- EVENT navbar_header_profile_list_after -->
						<li class="separator">
						<li><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem"><i class="fa fa-sign-out"></i>{L_LOGIN_LOGOUT}</a>
					</ul>
			</div>
			<!-- EVENT navbar_header_username_append -->
		</li>
	<!-- ELSE -->
		<li><a id="active-faq" href="{U_FAQ}">{L_FAQ}</a>
		<li><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">{L_LOGIN_LOGOUT}</a></li>
		<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
			<li><a href="{U_REGISTER}">{L_REGISTER}</a>
		<!-- ENDIF -->
	<!-- ENDIF -->
	</ul>
</div>
