<!-- INCLUDE ucp_header.html -->

<!-- IF S_DRAFT_LOADED -->
	<div class="panel">
		<div class="inner">
		
		<h3>{L_INFORMATION}</h3>
		<p>{L_DRAFT_LOADED_PM}</p>
		
		</div>
	</div>
<!-- ENDIF -->

<!-- IF S_SHOW_DRAFTS --><!-- INCLUDE drafts.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<div class="message" id="postingbox">
	<div class="inner">


	<!-- IF (.friends_online or .friends_offline) and S_COMPOSE_PM -->
	<div class="cp-mini">
	<div class="inner">
		<dl class="mini">
		<dt>{L_FRIENDS}</dt>
			<!-- BEGIN friends_online -->
			<dd class="friend-online" title="{L_FRIENDS_ONLINE}">{friends_online.USERNAME_FULL} <!-- IF S_SHOW_PM_BOX --> <input type="submit" name="add_to[{friends_online.USER_ID}]" value="{L_ADD}" class="button2"><!-- ENDIF --><!-- IF friends_online.S_LAST_ROW and .friends_offline --><hr><!-- ENDIF --></dd>
		<!-- END friends_online -->
		<!-- BEGIN friends_offline -->
			<dd class="friend-offline" title="{L_FRIENDS_OFFLINE}">{friends_offline.USERNAME_FULL} <!-- IF S_SHOW_PM_BOX --><input type="submit" name="add_to[{friends_offline.USER_ID}]" value="{L_ADD}" class="button2"><!-- ENDIF --></dd>
		<!-- END friends_offline -->
		</dl>
	</div>
	</div>
	<!-- ENDIF -->


	<!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
	<!-- INCLUDE posting_editor.html -->

	</div>
</div>

<!-- IF S_SHOW_ATTACH_BOX --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->
