
<form id="viewfolder" method="post" action="{S_PM_ACTION}">

<div class="panel message">
	<div class="inner">
	<div class="topic-actions">
	<!-- IF U_POST_REPLY_PM or U_POST_NEW_TOPIC or U_FORWARD_PM -->
		<ul class="buttons">
			<!-- IF S_VIEW_MESSAGE --><li><a title="{L_RETURN_TO} {CUR_FOLDER_NAME}" href="{U_CURRENT_FOLDER}"><i class="fa fa-caret-square-o-left"></i>&nbsp;{L_RETURN_TO_FOLDER}</a><!-- ENDIF -->
			<!-- IF U_POST_REPLY_PM --><li class="pmreply-icon"><a title="{L_POST_REPLY_PM}" href="{U_POST_REPLY_PM}"><i class="fa fa-reply"></i>&nbsp;{L_POST_REPLY_PM}</a>
			<!-- ELSEIF U_POST_NEW_TOPIC --><li class="newpm-icon"><a href="{U_POST_NEW_TOPIC}" accesskey="n" title="{L_UCP_PM_COMPOSE}"><i class="fa fa-comments"></i>&nbsp;{L_UCP_PM_COMPOSE}</a><!-- ENDIF -->
                        <!-- IF U_POST_REPLY_PM and S_PM_RECIPIENTS gt 1 --><li class="reply-all"><a title="{L_REPLY_TO_ALL}" href="{U_POST_REPLY_ALL}"><i class="fa fa-reply-all"></i>&nbsp;{L_REPLY_TO_ALL}</a><!-- ENDIF -->
			<!-- IF U_FORWARD_PM --><li class="forwardpm-icon"><a title="{L_POST_FORWARD_PM}" href="{U_FORWARD_PM}"><i class="fa fa-share"></i>&nbsp;{L_FORWARD_PM}</a><!-- ENDIF -->
		</ul>
	<!-- ENDIF -->

	<!-- IF TOTAL_MESSAGES or S_VIEW_MESSAGE -->

		<div class="pagination top">
			<!-- IF FOLDER_CUR_MESSAGES neq 0 -->
				<!-- IF PAGINATION --><span><!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}">&#60;</a><!-- ELSE --><strong>&#60;</strong><!-- ENDIF -->{PAGINATION}<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}">&#62;</a><!-- ELSE --><strong>&#62;</strong><!-- ENDIF --></span><!-- ENDIF -->
			<!-- ENDIF -->
		</div>
	</div>
	<!-- IF FOLDER_STATUS and FOLDER_MAX_MESSAGES neq 0 --><span>{FOLDER_STATUS}</span><!-- ENDIF -->
	<!-- ELSE -->
	</div>
	<!-- ENDIF -->
