<!-- INCLUDE overall_header.html -->



<!-- IF !S_PRIVMSGS -->

<script>
	document.getElementById("active-user").style.backgroundColor = "#0C4256";
</script>

<h1>{L_UCP}</h1>
<div class="panel bg3">
<header id="tabs">
	<ul>
		<!-- BEGIN t_block1 -->
		<!-- IF t_block1.L_TITLE ne "Private messages" -->
		<li <!-- IF t_block1.S_SELECTED -->class="activetab"<!-- ENDIF -->><a href="{t_block1.U_TITLE}">{t_block1.L_TITLE}</a>
		<!-- ENDIF -->
		<!-- END t_block1 -->
	</ul>
</header>

<div id="navigation">
<!-- BEGIN t_block2 -->
	<ul>
		<!-- IF t_block2.S_SELECTED -->
		<li id="active-subsection"><a href="{t_block2.U_TITLE}">{t_block2.L_TITLE}</a></li>
		<!-- ELSE -->
		<li><a href="{t_block2.U_TITLE}">{t_block2.L_TITLE}</a></li>
		<!-- ENDIF -->
	</ul>
<!-- END t_block2 -->
</div>


<!-- ELSE -->


<!-- IF S_POST_ACTION -->
<form id="postform" method="post" action="{S_POST_ACTION}"{S_FORM_ENCTYPE}>
<!-- ENDIF -->

<h1><a href="{U_PRIVATEMSGS}">Private Messages</a></h1>
<div class="panel">
<header id="tabs">
        <ul>
        <!-- BEGIN t_block2 -->
        <!-- IF S_PRIVMSGS and not t_block2.S_LAST_ROW -->
                <!-- IF t_block2.S_SELECTED -->
                <li class="activetab"><a href="{t_block2.U_TITLE}">{t_block2.L_TITLE}</a>
                <!-- ELSE -->
                <li><a href="{t_block2.U_TITLE}">{t_block2.L_TITLE}</a>
                <!-- ENDIF -->
        <!-- ENDIF -->
        <!-- END t_block2 -->

        <!-- BEGIN folder -->
                <!-- IF folder.S_CUR_FOLDER -->
                <li class="activetab"><a href="{folder.U_FOLDER}"><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></a>
                <!-- ELSE -->
                <li><a href="{folder.U_FOLDER}"><span><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong><!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></span></a>
                <!-- ENDIF -->
        <!-- END folder -->
        </ul>
</header>

<!-- ENDIF -->

<div id="cp-main" class="ucp-main">
